*,
*:after,
*:before {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 400;
  color: #D9D9D9;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: #282828; /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; /* цвет бегунка */
}

body {
  background: #1C1C1C;
}

input {
  background: #1C1C1C;
  outline: none;
  border: none;
  padding: 0 20px;
  width: 280px;
  height: 39px;
}
input[placeholder] {
 font-size: 14px;
}
button {
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 100px 0;
}

.todolist {
  max-width: 70%;
  margin: auto;
  background: #282828;
  border-radius: 16px;
  padding-bottom: 50px;

  &__header {
    border-bottom: 1px solid #323232;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
  }

  &__button-tab {
    display: flex;
    gap: 10px;
  }

  &__tab, &__delete-all {
    color: #9D9D9D;
    background: #323232;
    font-size: 18px;
    font-weight: 800;
    transition: all 0.3s ease;
    padding: 8px 24px;

    &:hover {
      color: #181818;
      background: #FEE600;
    }
  }

  &__content {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 350px;
    overflow-y: scroll;
  }

  &__task-add {
    display: flex;
    align-items: center;
  }

  &__add > * {
    padding: 4px 6px;
    transition: all 0.3s ease;
    background: #323232;
    width: 30px;
    height: 30px;

    &:hover {
      background: #FEE600;
    }
  }

  &__delete > * {
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      background: #FEE600;
    }
  }

  &__label {
    max-width: 80%;
    &:active {
      cursor: pointer;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #323232;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      background: #2C2C2C;
      cursor: pointer;

      .todolist__label {
        opacity: 0.8;
      }
    }

    &:active {
      cursor: grabbing;
    }
  }
}

.active-tab {
  color: #181818;
  background: #FEE600;
}
